# Python 관련
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb

# 환경 설정
.env
*.env
*.sqlite3

# IDE 관련
.vscode/
.idea/

# Django 관련
db.sqlite3
/media/
*.log
/staticfiles/
*.migrations/

# 시스템 관련
.DS_Store
Thumbs.db

# Virtual environment
venv/
myvenv/
env/
